body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    background-color: lightgray;
    background-color: #F5F5F5;
    background-color: #FFF7ED;
    /* background-image: url("../img/bg.jpg"); */
    background-size: 600px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    user-select: none;
}

/* header */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #F3E5C3;
    background-color: #fff;
    z-index: 10;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.logo__link {
    /* font-family: 'Courgette', cursive; */
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-decoration: none;
    color: #C5796D;
}

.main-menu {
    display: flex;
    align-items: center;
}

/* toolbar icons */

.toolbar {
    display: flex;
}

.toolbar__item {
    position: relative;
    max-height: 28px;
    margin: 10px 10px;
    opacity: 0.6;
    transition: 0.1s;
    cursor: pointer;
    color: #523A28;
    background-color: transparent;
    user-select: none;
}

.toolbar__item:hover {
    opacity: 0.9;
    background-color: rgba(82, 58, 40, .2);
    border-radius: 8px;
}

.toolbar__item_disabled {
    opacity: 0.2;
    pointer-events: none;
}

.toolbar__item.not-clickable {
    font-size: 14px;
    font-weight: 500;
    cursor: inherit;
}

.toolbar__item.not-clickable:hover {
    opacity: 0.6;
    background-color: transparent;
}

.material-symbols-outlined.md-28 {
    font-size: 28px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-28 {
    font-size: 28px;
}

.import__label {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.import__input {
    opacity: 0;
    width: 0;
}

/* menu buttons */

.menu {
    display: flex;
}

.menu__item {
    width: 130px;
    margin: 10px 5px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #C38370;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: #fff;
    border: 2px solid #C38370;
    cursor: pointer;
}

.menu__item:hover {
    background-color: #DC9B87;
    border: 2px solid #DC9B87;
}

.menu__item:active {
    background-color: #E4B7A0;
    border: 2px solid #E4B7A0;
}

.menu__item:focus {
    outline: none;
}

.menu__item:last-child {
    margin-right: 0;
    /* background-color: #F3E5C3; */
    background-color: #fff;
    border: 2px solid #C38370;
    color: #C38370;
}

.menu__item:last-child:hover {
    background-color: #C38370;
    color: #fff;
}

.menu-item__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item__word {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

/* side toolbar */

.main__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.side-toolbar {
    position: fixed;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    /* height: 200px; */
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
    z-index: 100;
}

.line-icon {
    transform: rotate(125deg);
}

/* zoom toolbar */

.zoom-toolbar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 155px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
    z-index: 100;
}

/* tooltips */

.tooltip-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 150px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 10;
    pointer-events: none;
}

.upper-toolbar__item .tooltip-text {
    top: 180%;
    left: 50%;
    margin-left: -60px;
    width: 120px;
}

.side-toolbar__item .tooltip-text {
    top: 0;
    left: 180%;
    width: 150px;
}

.zoom-toolbar__item .tooltip-text{
    bottom: 180%;
    left: 50%;
    margin-left: -45px;
    width: 90px;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 5px;
}

.upper-toolbar__item .tooltip-text::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent rgba(0, 0, 0, .8) transparent;
}

.side-toolbar__item .tooltip-text::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent rgba(0, 0, 0, .8) transparent transparent;
}

.zoom-toolbar__item .tooltip-text::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
}

.toolbar__item:hover .tooltip-text {
    opacity: 1;
}

/* modals */

.modal {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.modal__opened {
    opacity: 1;
    visibility: visible;
}

.modal__container {
    position: relative;
    width: 500px;
    max-width: 100%;
    min-height: 150px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.modal__close {
    position: absolute;
    max-height: 28px;
    right: 20px;
    opacity: 0.5;
    transition: 0.5s ease;
    cursor: pointer;
}

.modal__close:hover {
    opacity: 0.8;
}

.modal__content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.modal__preview {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.preview__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    background-color: #f0f0f0;
    border-radius: 15px;
    margin-bottom: 20px;
}

.preview__container:last-child {
    margin-bottom: 0;
}

.preview__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.preview__img_blank {
    height: 30%;
    width: 30%;
    opacity: 0.5;
}

.modal__inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    font-weight: 500;
}

.modal__label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.modal__label:last-child {
    margin-top: 10px;
}

.modal__input {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 250px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

.modal__input:focus {
    outline: none;
    border-bottom: 2px solid #C5796D;
}

.modal__footer {
    display: flex;
    justify-content: flex-start;
}

/* new element modal */

.upload-img {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.upload-img-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 35px;
    padding: 10px 15px;
    background-color: #fff;
    border: 2px solid #74A6F3;
    border-radius: 8px;
    color: #000;
    text-align: center;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}

.upload-img-btn:hover {
    background-color: #74A6F3;
    color: #fff;
}

.upload-img-btn__arrow {
    position: absolute;
    top: 7px;
    transition: top 0.3s ease;
}

.upload-img-btn__text {
    position: absolute;
    left: 37px;
}

.upload-img-btn:hover .upload-img-btn__arrow {  
    top: 5px;
}

.upload-img__input {
    opacity: 0;
    width: 50px;
}

/* new connection modal */

.modal__select {
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 250px;
    border-bottom: 2px solid #74A6F3;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.select__option {
    font-family: 'Montserrat', sans-serif;
}

.modal__message {
    display: block;
    width: 250px;
    font-size: 12px;
    text-align: left;
    color: red;
}

.modal__submit {
    padding: 10px 20px;
    background-color: #C5796D;
    border-radius: 8px;
    transition: 0.5s;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.modal__submit:hover {
    /* background-color: #DC9B87; */
}

.modal__submit:active {
    /* background-color: #E4B7A0; */
    background-color: #DC9B87;
}

/* new note modal */

.modal__preview_note {
    margin: 15px 0 15px 5px;
}

.main {
    overflow-y: hidden;
}

/* a container for items on the board */

.container {
    transform-origin: 0 0;
}

.canvas {
    position: absolute;
    bottom: 0;
}

/* elements */

.element {
    position: absolute;
    width: 150px;
    height: 200px;
    background-color: #C38370;
    z-index: 10;
    box-shadow: 5px 5px 7px 1px rgba(35, 35, 35, .7);
    transform: rotate(-2deg);
    transition: transform .15s linear;
    cursor: move;
}

.element:nth-child(even) {
    transform: rotate(5deg);
}

.element:nth-child(3n) {
    transform: rotate(-4deg);
}

.element:nth-child(5n) {
    transform: rotate(6deg);
}

.element:hover, .element:focus {
    box-shadow: 10px 10px 7px 1px rgba(0, 0, 0, .7);
    transform: scale(1.2);
    z-index: 12;
}

.element__picture {
    width: 100%;
    height: 75%;
    border: 5px solid #C38370;
}

.element__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    width: 100%;
    height: 25%;
}

.element__title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.hidden {
    display: none;
}

/* lines */

.line {
    stroke-width: 2px;
    stroke: #342617;
}

.line:hover {
    stroke-width: 3px;
    cursor: pointer;
}

.line__text {
    font-size: 18px;
}

.line__selected {
    stroke: #68A4F1;
    stroke-width: 3px;
}

/* notes */

.note {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    top: 150px;
    left: 300px;
    padding: 5px 5px;
    background-color: bisque;
    box-shadow: 5px 5px 7px 1px rgba(35, 35, 35, .7);
    transform: rotate(-5deg);
    transition: transform .15s linear;
    z-index: 11;
    cursor: move;
}

.note:nth-child(even) {
    transform: rotate(5deg);
}

.note:nth-child(3n) {
    transform: rotate(-4deg);
}

.note:nth-child(5n) {
    transform: rotate(6deg);
}

.note:hover, .note:focus {
    box-shadow: 10px 10px 7px 1px rgba(0, 0, 0, .7);
    transform: scale(1.2);
    z-index: 12;
}

.note-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: bisque;
    box-shadow: 5px 5px 7px 1px rgba(35, 35, 35, .7);
    transform: rotate(5deg);
}

.note__title, .note-preview__title {
    margin-bottom: 5px;
}

.note__text, .note-preview__text {
    width: 90%;
    height: 80%;
    line-height: 1.2;    
    background-color: bisque;
    z-index: 12;
    outline: none;
    resize: none;
    overflow: auto;
}

/* idea icon */

.item__selected {
    z-index: 12;
}

.item__icon {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s, visibility 0.1s;
}

.icon__visible {
    opacity: 1;
    visibility: visible;
}

/* background */

.grid-line {
    stroke: #F3E5C3;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #C5796D; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8675d;
}

.footer {
    background-color: #C38370;
}

.footer__container {
    width: 1280px;
    margin: 0 auto;
    padding: 30px 10px;
}

.footer-menu {
    display: flex;
}

.footer-menu__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.footer-menu__item:hover .footer-menu__link {
    text-decoration: underline;
}

.new-window-icon {
    margin-left: 5px;
    font-size: 14px;
}