body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    background-color: lightgray;

    overflow-x: hidden;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    /* max-width: 1280px; */
    margin: 0 auto;
}

.element {
    /* margin-top: 20px; */
    width: 200px;
    border: 1px solid #000;
    position: absolute;
}

.element__picture {
    width: 200px;
    height: 200px;
    cursor: move;
    z-index: 10;
}

.element__img {
    width: 200px;
    height: 200px;
    border-bottom: 1px solid #000;
}

.element__title {
    width: 200px;
    text-align: center;
}

#div1 {
    top: 50px;
    left: 50px;
    z-index: 9;
}

#div2 {
    top: 50px;
    left: 350px;
}