body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    background-color: lightgray;
    background-image: url("../img/bg2.jpg");
    /* background-repeat: no-repeat; */
    background-size: 600px;

    overflow-x: hidden;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    width: 100%;
    background-color: rgb(250, 211, 174);
}

.header__container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__logo a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-decoration: none;
    color: #C5796D;
}

.container {
    transform-origin: 0 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    margin: 20px 10px;
    padding: 10px 15px;
    background-size: 200% auto;
    border-radius: 20px;
    background-color: #C5796D;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}
.menu__item:hover {
    background-position: right center;
}

.menu__item:last-child {
    margin-right: 0;
}

/* toolbar */

.toolbar-item {
    width: 24px;
    margin: 20px 10px;
    opacity: 0.6;
    transition: 0.1s;
    cursor: pointer;
}

/* .toolbar-item:hover {
    opacity: 0.8;
} */

.toolbar-item__img {
    display: block;
    width: 100%;
    height: 100%;
}

.iconDisabled {
    opacity: 0.2;
    pointer-events: none;
}

/* elements */

.element {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 10;    
}

.element__selected {
    border: dashed #fff;
    border-width: 3px;
}

.element__picture {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid #C5796D;
    background-color: #C5796D;
    cursor: move;
}

.element__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.element__delete {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    right: 0;
    width: 20px;
    height: 20px;    
    color: #fff;
    background-color: #C5796D;
    z-index: 11;
    cursor: pointer;
}

.element__delete:hover {

}

.element__title {
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 22px;
    background-color: #C5796D;
    color: #fff;
}

/* modal */

.modal {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.modal__open {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    position: relative;
    width: 500px;
    max-width: 100%;
    min-height: 150px;
    padding: 20px 20px;
    background-color: #fff;
    overflow: auto;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;    
}

.modal__close-img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
    transition: 0.5s ease;
}

.modal__close-img:hover {
    opacity: 0.8;
}

/* new element modal window */

.modal__load-text {
    margin: 20px 0;
}

.modal__load-file {
    margin-bottom: 20px;
}

.modal__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.modal__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.blank {
    height: 50%;
    width: 50%;
    opacity: 0.5;
}

.modal__label {
    display: block;
    margin: 20px 0;
}

.modal__input {
    display: block;
    padding: 10px 20px;
    width: 250px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal__input:hover {

}

.modal__input:focus {
    outline: none;
    border-bottom: 1px solid #C5796D;
}

/* new connection modal window */

.modal__text {
    margin: 20px 0;
}

.modal__select {
    padding: 5px 10px;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.modal__message {
    display: block;
    margin-top: 10px;
    width: 300px;
    font-size: 12px;
    color: red;
}

.modal__submit {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #C5796D;
    color: #fff;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* lines */

.lines {
    stroke-width: 2px;
    stroke: #342617;
}

.lines:hover {
    stroke-width: 3px;
    cursor: pointer;
}

.lines__text {
    font-size: 18px;
}

.line__selected {
    stroke: rgb(102, 153, 230);
}